
@import 'global.less';

body {
	background-image: url('../images/cosmos.jpg');
}

.doorkeeper {
	padding-top: 30px;
	padding-bottom: 15px;
	max-width: 400px;
	margin: 0 auto;
	h1 {
		color: @brand-primary;
		padding-bottom: 30px;
		small {
			color: @gray-light;
			float: right;
		}
	}
	h3 {
		margin-top: 0;
	}
	form {
		margin-bottom: 0px;
	}
	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
	}
	.form-control:focus {
		z-index: 2;
	}
	.form-group {
		input:first-child,
		textarea:first-child {
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		input:last-child,
		textarea:last-child  {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		input:not(:first-child):not(:last-child),
		textarea:not(:first-child):not(:last-child) {
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
