
@import 'bootstrap/bootstrap.less';
@import 'font-awesome/font-awesome.less';
@import 'sidebar/sidebar.less';

body {
	margin-bottom: 0px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('@{icon-font-path}Ubuntu.ttf') format('truetype');
}

h3 {
	.h3;
	margin-top: 0;
}

h4 {
	.h4;
	margin-top: 0;
}

input[type="text"], input[type="email"] {
	.form-control;
	margin-top: 0;
}

textarea {
	.form-control;
	margin-top: 0;
	height: 6em;
	resize: none;
}

::-webkit-color-swatch {
    border-color: @input-border;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

.modal-header p {
	margin-bottom: 0;
}

.modal-footer-extend {
	.modal-footer;
	background-color: @panel-default-heading-bg;
	text-align: left;
}

.input-group-btn > .btn > .glyphicon {
	line-height: inherit;
}

.pointer {
    cursor: pointer;
}

.datepicker span {
	.pointer;
}

.timepicker span {
	.pointer;
}

.required span {
	.text-primary;
}

.main-container {
	// .row;
	padding: 0;
	margin-top: @navbar-height + (@grid-gutter-width / 2);
	margin-bottom: @grid-gutter-width;
}

.tab-list {
	.nav;
	.nav-tabs;
	.nav-justified;
}

.alert-error {
	.alert;
	.alert-danger;
}

.error {
	.has-error;
}

.errorMessage {
	.small;
	.text-danger;
}

.hint {
	.small;
	.text-muted;
}

// MIXINS

.scroller (@height) {
  max-height: @height;
  overflow-y: auto;
}

.shadow (@width: 4px) {
  border-width: 0 1px @width 1px;
}

.navbar-form input[type="text"] {
	margin-bottom: 0;
	border-radius: 0;
	
	/* Wider search bar so that the navbar doesn't look empty */
	min-width: 350px;
}

.navbar-form button[type="submit"] {
	/* Move the button -4 pixels so it lines up with the search field */
	margin-left: -4px;
	
	/* Easier target to click */
	width: 60px;
	
	/* Set the radius to something smooth so the corners aren't all sharp */
	border-radius: 2px;
	
	/* This will join the button and the text field side-by-side perfectly */
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	
	/* This will give the button some depth */
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

h1:first-child {
	margin-top: 0px;
}

.margin-small {
    margin-top: 36px;
}

form {
	margin-bottom: 0px;
}

table {
	.fit {
	    white-space: nowrap;
	}
	.expand {
	    width: 99%;
	}
}

td > .btn-group > .btn {
	float: none;
	display: inline-block;
}

.modal-content .wizard {
	border: 0;
}

.scroll-x {
    overflow: auto;
    overflow-y: hidden;
}

@media all and (max-width: @screen-sm-min) {
	.affix {
		position: static;
	}
}
