
*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.content-container,
.pusher,
.content,
.main {
    height: 100%;
    position: relative;
}

.content-container {
    background: #999;
}

.content {
    background: #eee;
    position: relative;
}

.main {
    overflow-y: scroll;
}

.pusher {
    left: 0;
    height: 100%;
    -webkit-transition: -webkit-transform @transition-speed-default;
    -moz-transition: -moz-transform @transition-speed-default;
    -ms-transition: -ms-transform @transition-speed-default;
    -o-transition: -o-transform @transition-speed-default;
    transition: transform @transition-speed-default;
}

.pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.0);
    content: '';
    opacity: 0;
    -webkit-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    -moz-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    -ms-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    -o-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
}

.pusher-overlay {
    position:fixed; 
    height:100%; 
    width:100%; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.1); 
    z-index: 50;
}
