
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: @sidebar-width;
    height: 100%;
    background-color: @sidebar-background-color;
    -webkit-transition: all @transition-speed-default;
    transition: all @transition-speed-default;
    overflow-y: scroll;
}

.sidebar::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 1;
    -webkit-transition: opacity @transition-speed-default;
    transition: opacity @transition-speed-default;
}

/* content style */

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li a {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    outline: none;
    color: @sidebar-link-color;
    -webkit-transition: background @link-transition-speed;
    transition: background @link-transition-speed;
}

.sidebar-open .pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity @transition-speed-default;
    transition: opacity @transition-speed-default;
}

.sidebar-open .sidebar::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
}

.sidebar-nav li.sidebar-header {
    background-color: @sidebar-header-bg;
    a:hover {
        background: @sidebar-header-hover-bg;
    }
}

.sidebar-nav li {
    border: 0;
    line-height: @sidebar-line-height;
    a {
        display: block;
        text-decoration: none;
        font-weight: @regular-font-sidebar-link-weight;
        font-size: @regular-link-font-size;
        i {
            font-size: @sidebar-icon-size;
            width: 20px;
            margin-left: 10px;
            margin-right: 20px;
            vertical-align: middle;
        }
    }
    a:hover {
        text-decoration: none;
        background: @sidebar-link-hover-bg;
    }
}

.sidebar-nav li.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-nav > .panel {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}

.sidebar-nav-submenu {
    background-color: @sidebar-submenu-bg;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15);
    li {
        line-height: @sidebar-submenu-line-height;
        text-indent: 50px;
        a {
            font-weight: @regular-font-sidebar-link-weight;
            font-size: @regular-link-font-size;
        }
    }
}
