/* Open door Transition */
.sidebar-transition.content-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.sidebar-transition .pusher {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: @transition-transformation-style;
    -moz-transform-style: @transition-transformation-style;
    -ms-transform-style: @transition-transformation-style;
    -o-transform-style: @transition-transformation-style;
    transform-style: @transition-transformation-style;
}

.sidebar-transition.sidebar-open .pusher {
    -webkit-transform: rotateY(@transition-transformation-rotation);
    -moz-transform: rotateY(@transition-transformation-rotation);
    -ms-transform: rotateY(@transition-transformation-rotation);
    -o-transform: rotateY(@transition-transformation-rotation);
    transform: rotateY(@transition-transformation-rotation);
}

.sidebar-transition.sidebar {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sidebar-transition.sidebar-open .sidebar-transition.sidebar {
    visibility: visible;
    -webkit-transition: transform @transition-speed-default;
    -moz-transition: transform @transition-speed-default;
    -ms-transition: transform @transition-speed-default;
    -o-transition: transform @transition-speed-default;
    transition: transform @transition-speed-default;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-transition.sidebar::after {
    display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
    padding-left: @sidebar-width;
}