
// sidebar variables
@sidebar-width: 210px;
@sidebar-background-color: @navbar-default-bg;
@sidebar-header-bg: @brand-primary;
@sidebar-header-hover-bg: darken(@sidebar-header-bg, 5%);
@sidebar-link-hover-bg: @navbar-default-link-hover-bg;
@sidebar-link-color: @navbar-default-link-color;
@regular-text-color: @navbar-default-color;
@regular-link-font-size: @font-size-base;
@regular-font-sidebar-link-weight: 300;
@sidebar-line-height: 40px;
@sidebar-submenu-line-height: 20px;
@sidebar-submenu-bg: lighten(@navbar-default-bg, 5%);
@sidebar-icon-size: @font-size-large;

// transition variables
@transition-speed-default: 0.5s;
@link-transition-speed: 0.2s;
@transition-transformation-rotation: -10deg;
@transition-transformation-style: preserve-3d;