//
// Sticky Footer
// --------------------------------------------------

@footer-height: 60px;

html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: relative;
	margin-top: calc(60px - 100%);
	bottom: 0;
	width: 100%;
	height: @footer-height;
	border-top: 1px solid @btn-default-border;
	background-color: #e7e7e7;
}

.footer > div {
	margin-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
}
