.wizard {

	.clearfix;

	border: 1px solid @table-border-color;
	border-radius: @border-radius-base;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	background-color: @panel-bg;
	position: relative;
	min-height: 48px;
	overflow-y: visible;

	> .steps {
		list-style: none outside none;
		padding: 0;
		margin: 0;
		width: 4000px;

		&.previous-disabled {
			li {
				&.complete {
					cursor: default;

					&:hover {
						background: #f3f4f5;
						color: @brand-success;
						cursor: default;

						.chevron:before {
							border-left-color: #f3f4f5;
						}
					}
				}
			}
		}
		
		li {
			float: left;
			margin: 0;
			padding: 0 20px 0 30px;
			height: 50px;
			line-height: 50px;
			position: relative;
			background: @panel-default-heading-bg;
			color: @gray-light;
			font-size: 16px;
			cursor: not-allowed;

			.chevron {
				border: 25px solid transparent;
				border-left: 14px solid @table-border-color;
				border-right: 0;
				display: block;
				position: absolute;
				right: -14px;
				top: 0;
				z-index: 1;
			}

			.chevron:before {
				border: 25px solid transparent;
				border-left: 14px solid @panel-default-heading-bg;
				border-right: 0;
				content: "";
				display: block;
				position: absolute;
				right: 1px;
				top: -25px;
			}

			&.complete {
				background: #f3f4f5;
				color: @brand-success;

				&:hover {
					background: #e7eff8;
					cursor: pointer;

					.chevron:before {
						border-left: 14px solid #e7eff8;
					}
				}

				.chevron:before {
					border-left: 14px solid #f3f4f5;
				}
			}
			&.active {
				background: #f1f6fc;
				color: @brand-primary;
				cursor: default;

				.chevron:before {
					border-left: 14px solid #f1f6fc;
				}

				.badge {
					background-color: @brand-primary;
				}
			}

			.badge {
				margin-right: 8px;
				background-color: @gray-light;
			}

			.badge-success {
				background-color: @brand-success;
			}
		}

		li:first-child {
			border-radius: @border-radius-base 0 0 0;
			padding-left: 20px;
		}
	}

	> .actions {
		z-index: 1000;
		position: absolute;
		right: 0;
		line-height: 46px;
		float: right;
		padding-left: 5px;
		padding-right: 5px;
		vertical-align: middle;
		background-color: @panel-bg;

		a {
			line-height: 45px;
			font-size: 12px;
			margin-right: 8px;
		}

		.btn-prev {
			&[disabled] {
				cursor: not-allowed;
			}

			span {
				margin-right: 5px;
			}
		}

		.btn-next {
			&[disabled] {
				cursor: not-allowed;
			}

			span {
				margin-left: 5px;
			}
		}
	}

	.step-content {
		border-top: 1px solid @table-border-color;
		padding: @panel-body-padding;
		float: left;
		width: 100%;

		.step-pane {
			display: none;
		}

		> .active {
			display: block;

			.btn-group {
				.active {
					display: inline-block;
				}
			}
		}
	}

	// when complete
	&.complete {
		> .actions .glyphicon-arrow-right:before {
			display: none;
		}
		> .actions .glyphicon-arrow-right {
			margin-left: 0;
		}
	}
}